fastapi
uvicorn
websockets
python-multipart
langchain
langchain-community
langchain-openai
langchain-postgres
langchain-text-splitters
sqlalchemy
psycopg2-binary
psycopg[binary]
python-dotenv
pymupdf
cryptography
bcrypt
ragas
datasets